################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GigHub/.vs/GigHub
/GigHub/GigHub/obj
/GigHub/GigHub/bin/Debug/net8.0
/GigHub/.cr/personal/FavoritesList
/GigHub/.vs/ProjectEvaluation
/.vs
/WebApplication1
